<div class="container">
<h2> Create a new Dose for <%=@cocktail.name %></h2>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
</div>
